{% extends "layouts/base1.html" %}

{% block title %}Aperture{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <h4 class="page-title">Latest Arrivals</h4>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4"> 
                <a href="/view_product/{{product.id}}/">
                    <div class="card card-post card-round  hover-effect">
                        <img class="card-img-top" src="{{product.image.all.0.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar">
                                    <img src="{{product.brand.logo.url}}" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                                <div class="info-post ml-2">
                                    <h2 class="username">{{product.name}}</h2>
                                    <p class="price">Rs. {{product.price}} &nbsp; <del class="pri-del">Rs. 2000 &nbsp;</del> <span class="disc">(20% off)</span></p> 
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}